* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    font-family: 'Roboto' ,sans-serif;
}

.App {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

